@{
    Layout = null;
}

<div id="slides-shop" class="cover-slides">
    <ul class="slides-container" id="client_advertisements">
        @foreach (var item in ViewBag.Advertisements)
        {
            <li class="text-center">
                <img src="@item.GetType().GetProperty("Image").GetValue(@item, null)" alt="@item.GetType().GetProperty("Title").GetValue(@item, null)" style="object-fit: cover;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>@item.GetType().GetProperty("Title").GetValue(@item, null)</strong></h1>
                            <p class="m-b-40">@item.GetType().GetProperty("Description").GetValue(@item, null)</p>
                            <p><a class="btn hvr-hover" href="@item.GetType().GetProperty("Link").GetValue(@item, null)">Get Now</a></p>
                        </div>
                    </div>
                </div>
            </li>
        }

    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
