
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    @RenderPage("ChildPageLayout/Head.cshtml")
</head>
<body>
    <header class="header" id="header">
        <!-- Nav -->
        @RenderPage("ChildPageLayout/Nav.cshtml")
        <!-- Hero Area -->
        @RenderPage("ChildPageLayout/Advertisement.cshtml")
    </header>
    <!-- Main -->
    <main id="main">
        @RenderBody()
    </main>
    @RenderPage("ChildPageLayout/Scripts.cshtml")
    @RenderSection("scripts", false);
</body>
</html>
