@using DreamTeam.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/Login/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
            </div>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal user", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control  form-control-user" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input" })
                        @Html.LabelFor(m => m.RememberMe, new { @class = "custom-control-label" })
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Login
                </button>
                <hr>
                <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Login with Google
                </a>
                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                </a>
            }
            <hr>
            <div class="text-center">
                @Html.ActionLink("Forgot Password?", "ForgotPassword", new { @class = "small" })
                @Html.ActionLink("Forgot Password?", "ForgotPassword", new { @class = "small" })
            </div>
            <div class="text-center">
                @Html.ActionLink("Create an Account!", "Register", new { @class = "small" })
            </div>
        </div>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(() => {
            $("#Email").val("dinhthanh11011@gmail.com")
            $("#Password").val("123456aA@@")
        })
    </script>
}