@model DreamTeam.ViewModels.Invoices_Index_Object

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card card-primary m-2">
    <div class="card-header">
        <h3 class="card-title">Thông Tin Đơn Hàng</h3>
    </div>
    <div class="card card-primary m-2">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Thông Tin</th>
                    <th scope="col">Giá Trị</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><label>Ngày Lập </label></td>
                    <td>@Model.Invoice.CreateAt</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td><label>Trạng Thái Đơn Hàng </label></td>
                    <td>@Html.DisplayFor(x => x.Invoice.InvoiceStatus.Name)</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td><label>Trạng Thái Thanh Toán </label></td>
                    <td>
                        @if (Model.Invoice.IsPayed)
                        {
                            <span>Đã thanh toán</span>
                        }
                        else
                        {
                            <span>Chưa thanh toán</span>
                        }
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td><label>Người Nhận Hàng</label></td>
                    <td>@Html.DisplayFor(x => x.Invoice.Person)</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td><label>Số Điện Thoại</label></td>
                    <td>@Html.DisplayFor(x => x.Invoice.Phone)</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td><label>Địa Chỉ</label></td>
                    <td>@Html.DisplayFor(x => x.Invoice.Location)</td>
                </tr>
                <tr>
                    <th scope="row">7</th>

                    @{
                        long sum = 0;
                        foreach (var item in Model.InvoiceDetails)
                        {
                            sum += item.Price * item.Quantity;
                        }
                        <td><label>Tổng Giá Trị Đơn Hàng</label></td>
                        <td>@Convert.ToDecimal(sum).ToString("#,##") VND</td>
                    }
                </tr>
            </tbody>
        </table>


        <div class="card-header">
            <h3 class="card-title">Danh Sách Sản Phẩm</h3>
        </div>
        <div class="card card-primary m-2">
            <div class="card-body">

                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Mã Sản Phẩm</th>
                            <th scope="col">Tên Sản Phẩm</th>
                            <th scope="col">Avatar</th>
                            <th scope="col">Số Lượng</th>
                            <th scope="col">Đơn Giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.InvoiceDetails)
                        {
                            <tr>
                                <td>@item.ProductId</td>
                                <td><a href="/Products/Details/@item.ProductId">@item.Product.Name</a></td>
                                <td>
                                    @if (@item.Product.Product_Imgs.FirstOrDefault() != null)
                                    {
                                    <a href="/Products/Details/@item.ProductId"><img class="img-fluid" width="150" src="~/Uploads/@item.Product.Product_Imgs.First().Name" /></a>
                                    }
                                </td>
                                <td>@item.Quantity</td>
                                <td>@Convert.ToDecimal(@item.Price).ToString("#,##") VND</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @if (Model.Invoice.InvoiceStatus.isDefault)
        {
            <button class="btn btn-danger m-2 ml-auto" id="btnHuyDonHang" data-invoice-id="@Model.Invoice.Id" style="width:150px">Hủy Đơn Hàng</button>
        }
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(() => {
            let route_invoice = "/api/Client_Invoices/"

            $(document).on("click", "#btnHuyDonHang", (e) => {
                $.ajax({
                    url: route_invoice + $(e.target).attr("data-invoice-id"),
                    method: "DELETE"
                }).done(() => {
                    sendMessage("Đã hủy đơn hàng!", "done")
                    window.location = "/Invoices"
                }).fail(err => {
                    sendMessage(err.responseJSON.Message, "fail")
                })
            })
        })
    </script>
}