@model DreamTeam.ViewModels.Product_Index_Object
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container" id="client_advertisements">
        @foreach (var item in Model.Advertisements)
        {
            <li class="text-center">
                <img src="/Uploads/@item.Image" alt="@item.Title" style="object-fit: contain;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>@item.Title</strong></h1>
                            <p class="m-b-40">@item.Description</p>
                            <p><a class="btn hvr-hover" href="@item.Link">Get Now</a></p>
                        </div>
                    </div>
                </div>
            </li>
        }

    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>

<!-- Start Categories  -->
<div class="categories-shop">
    <div class="container">
        <div style="display:flex;flex-direction:row;flex-wrap:nowrap;overflow:auto;" id="Client_Categories">

        </div>
    </div>
</div>
<!-- End Categories -->

<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Thương Hiệu</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group" id="Client_brands">
                    </div>
                </div>
            </div>
        </div>

        <div class="row special-list" id="Client_products">
            @foreach (var item in Model.Products)
            {
                <div class="col-lg-3 col-md-6 special-grid @item.Category.Brand.Name">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                @if (@item.New)
                                {
                                    <p class="new">New</p>
                                }
                                @if (@item.CurrentPrice < @item.OldPrice)
                                {
                                    var salePer = 100 - (@item.CurrentPrice * 100 / @item.OldPrice);
                                    <p class="sale">Sale @salePer%</p>
                                }
                            </div>
                            @if (item.Product_Imgs.Count > 0)
                            {
                                <img src="/Uploads/@item.Product_Imgs.First().Name" class="img-fluid" alt="@item.Name" style="height:250px;object-fit:contain">
                            }
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="/Products/Details/@item.Id" data-toggle="tooltip" data-placement="right" title="Details"><i class="fas fa-eye"></i></a></li>
                                </ul>
                                <a class="cart" href="#"></a>
                            </div>
                        </div>
                        <div class="why-text" style="height:80px">
                            <h4 style="height:40px">@item.Name</h4>
                            <h5>@Convert.ToDecimal(@item.CurrentPrice).ToString("#,##") VND</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section scripts
                                {
    <script>
        $(document).ready(() => {
            let routeCategory = "api/Client_Categories/"
            let routeBrands = "api/Client_Brands/"

            loadCategories()
            loadBrands()

            function loadCategories() {
                $.ajax({
                    url: routeCategory,
                    method: "GET"
                }).done(data => {
                    $("#Client_Categories div").remove()
                    data.forEach(item => {
                        $("#Client_Categories").append(`
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="shop-cat-box">
                                    <img class="img-fluid" style="height:200px;object-fit: contain" src="/Uploads/${item.Avatar}" alt="${item.Name}" />
                                    <a class="btn hvr-hover" href="/Products">${item.Name} ${item.Brand.Name}</a>
                                </div>
                            </div>
                        `)
                    })

                })
            }

            function loadBrands() {
                $.ajax({
                    url: routeBrands,
                    method: "GET"
                }).done(data => {
                    $("#Client_brands button").remove()
                    $("#Client_brands").append(`<button class="active" data-filter="*" > All</button>`)
                    data.forEach(item => {
                        $("#Client_brands").append(`
                            <button data-filter=".${item.Name}"> <img class="img-fluid" style="height:30px;object-fit: contain" src="/Uploads/${item.Logo}" alt="${item.Name}" /></button>
                        `)
                    })

                })
            }

        })
    </script>
}